language: python

python:
    - '3.5'
    - '3.5-dev'
    - '3.6'
    - '3.6-dev'
    - '3.7-dev'

install:
    - pip install -r testing-requirements.txt
    - pip install -e .

script:
    - pytest --cov .

after_success:
    - codecov
